<md-sidenav layout="column" flex-lg="20" flex-md="25" layout-fill class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-content layout="column" layout-fill>
        <md-toolbar class="md-tall md-hue-2" style="overflow: hidden">
            <div class="blur-container square-img-container" layout="row" layout-fill>
                <img class="square2" ng-src="{{user.avatar}}" alt="blurred profile img" />
                <style type="text/css">
                .blur-container {
                    width: 100%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                }
                
                .blur-container img {
                    /* width: 100%; */
                    -webkit-filter: blur(5px);
                    -moz-filter: blur(5px);
                    -ms-filter: blur(5px);
                    -o-filter: blur(5px);
                    filter: blur(5px);
                    top: -50% !important;
                    -webkit-transform: scale(1.1) !important;
                    -moz-transform: scale(1.1) !important;
                    -ms-transform: scale(1.1) !important;
                    -o-transform: scale(1.1) !important;
                    transform: scale(1.1) !important;
                }
                </style>
            </div>
            <div flex layout="column " style="z-index: 10" layout-padding>
                <a ui-sref="web.app.dashboard.user({hash_id: tokHashId})" class="no-p">
                    <div class="img-thumbnail img-circle square-img-container" style="width: 50px">
                        <img class="img-circle pull-right " ng-src="{{ user.avatar }} ">
                    </div>
                </a>
                <div class="md-body-1 no-p" style="color: white; text-shadow: 0px 0px 8px black, 0px 0px 5px black">{{ user.name }}</div>
                <div class="md-body-2 no-p" style="color: white; text-shadow: 0px 0px 8px black, 0px 0px 5px black">{{ user.email }}</div>
            </div>
        </md-toolbar>
        <div layout="column " class="md-primary md-hue-2 ">
            <ul class="sidenav-items">
                <li ng-repeat="item in menu" class="sidenav-item" layout="row">
                    <my-icon icon="{{::item.icon}}"></my-icon>
                    <md-button md-no-ink ng-click="ui.toggleNav('left')" flex style="text-align: left" ui-sref="{{::item.state}} ">
                        {{::item.title}}
                    </md-button>
                </li>
                <li ng-repeat="item in menuAuth" class="sidenav-item" layout="row" ng-if="user.authenticated">
                    <my-icon icon="{{::item.icon}}"></my-icon>
                    <md-button md-no-ink ng-click="ui.toggleNav('left')" flex style="text-align: left" ui-sref="{{::item.state}} ">
                        {{::item.title}}
                    </md-button>
                </li>
                <li class="sidenav-item" layout="row" ng-if="user.authenticated">
                    <my-icon icon="logout"></my-icon>
                    <md-button md-no-ink ng-click="ui.toggleNav('left')" flex ng-click="::logout()" style="text-align: left">
                        Logout
                    </md-button>
                </li>
            </ul>
        </div>
    </md-content>
</md-sidenav>
