<md-sidenav layout="column" flex layout-fill class="md-sidenav-right md-whiteframe-z1" md-component-id="right" md-is-locked-open="$mdMedia('gt-lg')">
    <md-toolbar class="md-primary md-hue-2 no-p" style="height: auto;">
        <div class="md-toolbar-tools">
            <h4>Category</h4>
        </div>
    </md-toolbar>
    <md-content>
        <div layout="column" layout-padding>
            <div class="right-sn-categories" ng-repeat="cat in categories" layout="row">
                <div flex="30" class="cat-edge" layout="row">
                    <md-button aria-label="{{::cat.count}}">
                        {{ ::cat.count | socialCounter}}
                    </md-button>
                </div>
                <div flex=" 70 " class="cat-middle " layout="row ">
                    <md-button aria-label=" " ng-href="posts?cat={{::cat.name}} ">
                        {{ ::cat.name }}
                    </md-button>
                </div>
            </div>
        </div>
    </md-content>
</md-sidenav>
