<md-tabs flex="100" layout-fill md-border-bottom md-autoselect md-swipe-content class="md-primary md-hue-3">
    <md-tab label="Categories">
        <div layout="column" layout-padding>
            <div class="right-sn-categories" ng-repeat="cat in cats" layout="row">
                <div flex="20" class="cat-edge" layout="row">
                    <md-button aria-label="1.2">
                        1.2m
                    </md-button>
                </div>
                <div flex="60" class="cat-middle" layout="row">
                    <md-button aria-label="1.2" ng-href="{{ cat }}">
                        {{ cat }}
                    </md-button>
                </div>
                <div flex="20" class="cat-edge" layout="row">
                    <md-button aria-label="1.2">
                        <my-icon flex layout-fill icon="plus"></my-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Messages">
        <div class="" style="padding: 25px; text-align: center;">
            <div>content</div>
        </div>
    </md-tab>
</md-tabs>
