<md-dialog aria-label="File your post" ng-cloak flex="50" flex-md="70" flex-sm="95" ng-controller="ComposerCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h4 class="flex text-center">Please choose a category to organize your post</h4>
            <md-button aria-label="Close" class="md-icon-button" ng-click="cancel()">
                <my-icon icon="close"></my-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-height:600px; ">
        <div class="md-dialog-content" layout="row">
            <div layout="column" flex="100">
                <md-list ng-cloak>
                    <md-list-item ng-repeat="c in categories" ng-click="filePostIn(c.id, $event)">
                        <p>{{ ::c.name }}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
