<md-dialog aria-label="Signin | Signup" ng-cloak flex="40" flex-md="60" flex-sm="95" ng-controller="LoginCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h4 class="flex text-center">Please signin to continue</h4>
            <md-button aria-label="Close" class="md-icon-button" ng-click="cancel()">
                <my-icon icon="close"></my-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-height:810px; ">
        <div class="md-dialog-content" layout="row">
            <div layout="column" flex="100">
                <div class="mb15" layout="row" layout-wrap layout-align="center center">
                    <md-button class="md-raised" flex="60" flex-sm="100" flex-md="75" ng-click="UXLoginFB()" style="color: white; background: #4E69A2">
                        <i class="fa fa-facebook fa-lg mr10"></i> {{fb_button}}
                    </md-button>
                </div>
                <form novalidate name="loginForm" ng-submit="loginForm.$valid && submitLogin()">
                    <md-input-container md-no-float>
                        <my-icon class="md-primary md-hue-2">person_outline</my-icon>
                        <input type="text" placeholder="Email" ng-model="loginDetails.user" />
                    </md-input-container>
                    <md-input-container md-no-float>
                        <my-icon class="md-primary md-hue-2">lock_outline</my-icon>
                        <input type="password" placeholder="Password" ng-model="loginDetails.password" />
                    </md-input-container>
                    <div layout="row" layout-wrap layout-align="center center">
                        <md-button flex="60" flex-md="100" flex-sm="100" class="md-raised md-accent md-hue-1">
                            <i class="fa fa-sign-in fa-lg"></i> Login
                        </md-button>
                        <md-button flex="60" flex-md="100" flex-sm="100" href="/testify/signup">
                            <my-icon>person_add</my-icon>
                            Signup
                        </md-button>
                    </div>
                    <div layout="column" layout-align="center center">
                        <a href="" class="text-muted md-body-1">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
