<div flex layout="column" layout-fill layout-align="center center" class="entrance-bg" style="overflow: auto">
    <md-card class="no-m" style="width: 100%; border-radius: 0px;">
        <md-card-content layout="row" layout-align="center center">
            <div flex="20" flex-sm="75" layout="column" layout-align="center center">
                <img src="img/testify_motto.png">
            </div>
        </md-card-content>
    </md-card>
    <div layout="row" style="width: 100%" layout-wrap layout-align="center center">
        <md-button flex="15" flex-sm="80" class="md-raised" href="/testify/signup">join</md-button>
        <md-button flex="15" flex-sm="80" class="md-raised" href="/testify/login">login</md-button>
        <md-button flex="15" flex-sm="80" class="md-raised" href="/testify/">take a tour</md-button>
    </div>
</div>
