<md-content layout="row" class="bg-light-gray pt10" flex layout="row" layout-fill layout-wrap layout-align="center start">
    <span flex="20" flex-md="0" flex-sm="0"></span>
    <div flex="60" flex-md="100" flex-sm="100" class="main content-feeds bg-light-gray" layout-fill layout="column" style="position: relative">
        <div style="height: auto">
            <div searchbox ng-cloak></div>
            <div ng-show="user.authenticated">
                <form name="composer" ng-submit="composePost()" ng-controller="ComposerCtrl">
                    <md-card style="overflow: hidden">
                        <md-toolbar layout="row" class="md-hue-2">
                            <div class="md-toolbar-tools">
                                <div flex layout="row">
                                    <div class="square-img-container mr10" style="width: 40px; height: 40px;">
                                        <img class="img-circle" ng-src="{{ user.avatar }}">
                                    </div>
                                    <h2>{{ user.name }}</h2>
                                </div>
                                <my-icon icon="sunglasses"></my-icon>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            <md-input-container class="pb0">
                                <label>Share your testimony...</label>
                                <textarea ng-focus="composingPost = true" ng-model="composer.post"></textarea>
                            </md-input-container>
                            <!-- <md-divider></md-divider> -->
                        </md-card-content>
                        <div ng-show="composingPost">
                            <div class="images-box" layout="row" layout-wrap>
                                <div flex="33" flex-sm="50" layout="column" ng-repeat="img in files track by $index">
                                    <md-card flex class="bg-light-gray" style="position: relative" layout="row" layout-align="center center">
                                        <md-button class="md-icon-button" md-no-ink aria-label="Remove picture" style="color: white; text-shadow: 0px 1px 1px #000; position: absolute; top: 0px; left: 0px; z-index: 10;" ng-click="removePicture($index)">
                                            <my-icon icon="close"></my-icon>
                                        </md-button>
                                        <div flex class="square-img-container">
                                            <img ngf-src="img || 'img/testify.png'" ngf-no-oject-url="true" />
                                        </div>
                                        <md-progress-circular class="composer-img-upload-progress" md-mode="determinate" ng-hide="img.complete" value="{{img.progress}}"></md-progress-circular>
                                    </md-card>
                                </div>
                            </div>
                            <md-button class="md-primary" accept="image/*" ngf-keep="'distinct'" ngf-select ngf-max-size="'2MB'" ng-model="files" multiple="multiple">
                                <my-icon icon="camera"></my-icon>
                                Add Image
                            </md-button>
                            2MB max image size
                            <md-divider></md-divider>
                            <div class="" layout="row">
                                <span flex></span>
                                <md-switch name="anonymous" aria-label="Post anonymously" class="text-muted md-caption" ng-model="composer.anonymous">
                                    Post anonymously
                                    <md-tooltip md-delay="400" md-direction="left" md-autohide="true">
                                        Make this post anonymous
                                    </md-tooltip>
                                </md-switch>
                                <div layout="row" layout-padding>
                                    <button ng-disabled="!user.authenticated" style="color: white;" class="btn btn-primary" type="submit" layout="row">
                                        <span ng-hide="newPost.creating">
                                        <my-icon icon="send" style="line-height: 0px;
                                        position: relative;
                                        top: -2px;"></my-icon>
                                        <span>Post</span>
                                        </span>
                                        <span ng-show="newPost.creating">
                                            Sending...
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </md-card>
                </form>
            </div>
            <div testify-posts>
            </div>
        </div>
    </div>
    <span flex="20" flex-md="0" flex-sm="0"></span>
</md-content>
