<md-content layout-fill flex ng-controller="LoginCtrl">
    <div class="login-bg" flex layout-fill layout-padding layout="row" layout-align="center center" style="height: auto">
        <md-card flex="40" flex-sm="95" flex-md="60" style="overflow: hidden">
            <md-toolbar class="md-hue-2" layout="row" layout-align="center center">
                <h3>LOGIN TO TESTIFY</h3>
            </md-toolbar>
            <md-card-content>
                <div layout="column">
                    <div class="mb15" layout="row" layout-wrap layout-align="center center">
                        <md-button class="md-raised" flex="60" flex-sm="100" flex-md="75" ng-click="loginFb()" style="color: white; background: #4E69A2">
                            <i class="fa fa-facebook fa-lg mr10"></i> Login with facebook
                        </md-button>
                    </div>
                    <form novalidate name="loginForm" ng-submit="loginForm.$valid && submitLogin()">
                        <md-input-container md-no-float>
                            <my-icon class="md-primary md-hue-2">person_outline</my-icon>
                            <input type="text" placeholder="Email" ng-model="loginDetails.user" />
                        </md-input-container>
                        <md-input-container md-no-float>
                            <my-icon class="md-primary md-hue-2">lock_outline</my-icon>
                            <input type="password" placeholder="Password" ng-model="loginDetails.password" />
                        </md-input-container>
                        <div layout="row" layout-wrap layout-align="center center">
                            <md-button flex="60" flex-md="100" flex-sm="100" class="md-raised md-accent md-hue-1">
                                <i class="fa fa-sign-in fa-lg"></i> Login
                            </md-button>
                            <md-button flex="60" flex-md="100" flex-sm="100" href="/testify/signup">
                                <my-icon>person_add</my-icon>
                                Signup
                            </md-button>
                        </div>
                        <div layout="column" layout-align="center center">
                            <a href="" class="text-muted md-body-1">Forgot password?</a>
                        </div>
                    </form>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
