<div layout="column" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" ng-show="posts_stats.loading" md-diameter="60"></md-progress-circular>
    <div layout="column" style="width: 100%">
        <md-card ng-if=" !posts_stats.loading && !posts.length">
            <md-card-content>
                <h4 class="text-center">
                        No posts
                    </h4>
            </md-card-content>
        </md-card>
        <div ng-repeat="post in posts track by post.hash_id ">
            <md-card testify-post="post" class="md-warn">
            </md-card>
        </div>
    </div>
</div>
